<!-- product-list tempate -->

<div class="col-sm-6 col-md-4" *ngFor="let product of productsService.products; trackBy: product?.id">
  <div class="panel panel-default">
    
    <div class="panel-heading">
      <h3 class="panel-title">{{product.name}} - <span class="badge">{{product.price | currency}}</span></h3>
    </div>

    <div class="panel-body">

      <ul class="img-thumbnails clearfix">
        <li class="small-image thumbnail" *ngFor="let image of product.images">
          <img src="{{image}}" class="img-responsive" alt="product image">
        </li>
      </ul>

      <p>{{product.description}}</p>

      <a routerLink="/product/:id" routerLinkActive="active">Single product</a>

      <a class="btn btn-default pull-right btn-success"
        [routerLink]="['/product', product.id]"
        routerLinkActive="active" role="button">
        <span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span> Buy
      </a>

    </div>

  </div>
</div>